.DataTable{
	color: #8da0aa;
}

.DataTable thead>tr>th{
	font-weight: bold;
	color: black;
	padding: 10px 18px 10px 18px;
}
.DataTable tbody>tr>td{
	padding: 10px;
}
.scroll{
	max-height:400px; 
	overflow:auto;
	width: 100%;
}
.DataTable-checkbox{
	margin: 0px;
}
.checkbox input[type=checkbox]{
	position: inherit;
	margin-left: 0px
}
.DataTable--button--column{
	color: #fff;
    background: #00bca4;
}
.hide tr >*:nth-child(3){
  display:none;
}