*{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.App{
	display: inline-block;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.background{
	background: #fafcfe;
}
@media (max-width: 767px) {
  .App--menu--left {
    display: none;
  }
}
.Customers-panel{
	padding: 35px 20px 20px 20px;
	margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-color: #dfe8f1;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.BootstrapTable-style{
  color: #8da0aa;
}
.BootstrapTable-tr-intermitate-color {
  
  background-color: #f9f9f9;
}

